body {
  color: #555;
  font: 400 14px Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    letter-spacing: -0.04em;
}

p {
    margin: 12px 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.special {
  color: #87D37C;
}

.small {
  font-size: 12px;
}
