.content {
    /*position: relative;*/
    /*background-color: #ffffff;*/
    line-height: 1.5;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding-top: 50px;
    padding-left: 3%;
    padding-right: 3%;
    /*max-width: 100em;*/
}
