/*#sidebar {
  position: fixed;
  top: 53px;
  bottom: 0;
  left: 0;
  width: 18%;
  overflow: auto;
  background: #fefefe;
  border-right: 1px solid #e8ebef;
  z-index: 1;
}

.sidebar-list {
  width: 100%;
  float: left;
  background-color: #f5f7f8;
  z-index: 2;
}

.sidebar-item {
  padding: 12px 0;
  vertical-align: middle;
  padding-left: 22px;
  padding-right: 36px;
  font-weight: 400;
  color: #444;
  font-size: 14px;
  position: relative;
  line-height: 15px;
  border-bottom: 1px solid #e2e4e7;
  cursor: pointer;
}*/

#content-wrapper {
  /*padding-left: 0;*/
  /*margin-left: 0;*/
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 561px) {
  #page-wrapper.open, #content-wrapper.open {
    padding-left: 250px;
  }
}
@media only screen and (max-width: 560px) {
  #page-wrapper.open, #content-wrapper.open {
    padding-left: 70px;
  }
}
#page-wrapper.open #sidebar-wrapper {
  left: 150px;
}

/* Base */
html {
  overflow-y: scroll;
}
body {
  font-family: "Montserrat";
  color: #333333 !important;
}

#page-wrapper, #content-wrapper{
  padding-left: 70px;
}
#sidebar-wrapper {
  margin-left: -150px;
  left: -30px;
  width: 250px;
  position: fixed;
  top: 50px;
  height: 100%;
  z-index: 999;
}
#page-wrapper,
#sidebar-wrapper,
#content-wrapper {
  transition: all .4s ease 0s;
}

/**
 * Sidebar
 */
#sidebar-wrapper {
  background: #6B9362;
}
ul.sidebar .sidebar-main a,
ul.sidebar .sidebar-list a:hover,
#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator {
  /* Sidebar header color */
  background: #407A52;
}
ul.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}
ul.sidebar li a {
  color: #fff;
  display: block;
  float: left;
  text-decoration: none;
  width: 250px;
}
ul.sidebar .sidebar-main {
  height: 65px;
}
ul.sidebar .sidebar-main a {
  font-size: 18px;
  line-height: 60px;
}
ul.sidebar .sidebar-main a:hover {
  cursor: pointer;
}
ul.sidebar .sidebar-main .menu-icon {
  float: right;
  font-size: 18px;
  padding-right: 28px;
  line-height: 60px;
}
ul.sidebar .sidebar-title {
  color: #ABB7B7;
  font-size: 12px;
  height: 35px;
  line-height: 40px;
  text-transform: uppercase;
  transition: all .6s ease 0s;
}
ul.sidebar .sidebar-list {
  height: 40px;
  border-bottom: 1px solid #ABB7B7;
}
ul.sidebar .sidebar-list a {
  text-indent: 25px;
  font-size: 15px;
  color: #EEEEEE;
  line-height: 40px;
}
ul.sidebar .sidebar-list a:hover {
  color: #fff;
  border-left: 3px solid #333;
  text-indent: 22px;
}
ul.sidebar .sidebar-list a:hover .menu-icon {
  text-indent: 25px;
}
ul.sidebar .sidebar-list .menu-icon {
  float: right;
  padding-right: 29px;
  line-height: 40px;
  width: 70px;
}
#page-wrapper:not(.open) ul.sidebar {
  bottom: 0;
}
#page-wrapper:not(.open) ul.sidebar .sidebar-title {
  display: none;
  height: 0px;
  text-indent: -100px;
}
#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator {
  display: block;
  height: 2px;
  margin: 13px 0;
}
#page-wrapper:not(.open) ul.sidebar .sidebar-list a:hover span {
  border-left: 3px solid #333;
  text-indent: 22px;
}
#page-wrapper:not(.open) .sidebar-footer {
  display: none;
}
